.page-enter-active,
.page-leave-active,
.layout-enter-active, 
.layout-leave-active {
   /* animation: coming .2s;
    animation-delay: .2s;
    opacity: 0; */
}

.page-enter,
.page-leave-active,
.layout-enter, 
.layout-leave-active {
  /*  animation: going 0.2s; */
}
  @keyframes going {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20px);
      opacity: 0;
    }
  }
  @keyframes coming {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }