.my-page-enter-active,
.my-page-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.my-page-enter,
.my-page-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.slide-left-enter, .slide-right-leave-to {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-to, .slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.item-move, .item-enter-active, .item-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.item-enter {
  opacity: 0;
  transform: translate(30px, 0);
}

.item-leave-active {
  position: absolute;
  opacity: 0;
  transform: translate(30px, 0);
}
  @keyframes going {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20px);
      opacity: 0;
    }
  }
  @keyframes coming {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }