@import 'animation.scss';

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.header-action {
  margin-bottom: 15px;
}
/** CARD */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}