// 1. Initial variables
// Colors
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-light: var(--color-ligth);
$bg-first: var(--bg-global) !default;
$ruler: 12px;
$color-shadow: var(--color-shadow);
$color-shadow-white: var(--color-shadow-white);
$color-transparent: var(--color-transparent);
// Typography
$render-mode: optimizeSpeed !default;
